<div class="container">
        <div class="row">
                <div class="col-sm-8">
                        <h3>Refernces</h3>
                        <p>Ingen konstruktion är för enkel eller för komplicerad för Aros Byggsmide. Främst i Västerås men också på andra orter över hela världen finns många av företagets produkter monterade. <br>

                                <span>-</span> Hälla fackhandel - stålstommar <br>
                                <span>-</span> Västerås Centrallasarett <span>-</span> påbyggnad av ytterligare en våning <br>
                                <span>-</span> IKEA - ombyggnad av entrén<br>
                                <span>-</span> Culturen - stålkonstruktioner<br>
                                <span>-</span> Hässlö Flygplats ­ takkonstruktion<br>
                                <span>-</span> Konserthusets glasfasad - stålstommar<br>
                                <span>-</span> Gångbron i hamnen över Svartån - hela konstruktionen<br>
                                <span>-</span> Kvarteret Gippen, Östra Mälarstrand - bärande konstruktioner, stommar och skärmtak<br>
                                <span>-</span> Östra hamnen - stålpelare, räcken och bassängkonstruktioner
                                <span>-</span> Aros Bygg och Förvaltning AB<br>
                                 Balkonger har blivit lite av en specialité och många hus har försetts med olika balkongkonstruktioner från Aros Byggsmide.</p>
                </div>
                <div class="col-sm-4">
                        <img src="../../assets/svets.jpg" alt="">             
                </div>
              </div>
        
</div>