<!-- Footer -->
<footer class="page-footer font-small special-color-dark mt-5 pt-4">
  <!-- Footer Elements -->
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>Aros Byggsmide AB</p>
        <p>Transformatorgatan 10</p>
        <p>721 37 Västerås</p>
      </div>
      <div class="col-sm-6">
        <p><strong>Tel: </strong>021 13 22 11</p>
        <p><strong>Fax: </strong>021 12 43 35</p>
        <p><strong>E-Post: </strong><a href="mailto:">info@arosbyggsmide.se</a></p>
      </div>
    </div>
  </div>
</footer>
