<div class="container">
        <div class="row">
                <div class="col-sm-8">
                        <h3>Om företaget</h3>
                        <p>1993 startade Tommy Lindgren Aros Byggnadssmide AB. Han har lång erfarenhet inom smidesbranschen och började som smed hos BPA Smide 1967. Efter 30 år på verkstadsgolvet blev han 1987 avdelningschef. Aros Byggsmide har nu 20 anställda och arbetar främst med att tillverka och montera smide till byggbranschen. Många uppdrag kommer också från olika industriföretag. <br><br>

                        Idag har Aros Byggsmide sin verksamhet i egna nybyggda lokaler på Tunbytorp i Västerås. Verkstaden som är 1 000 kvm byggdes under 2002. Numera används det kortare namnet Aros Byggsmide AB</p>
                </div>
                <div class="col-sm-4">
                        <img src="../../assets/svets.jpg" alt="">              
                </div>
              </div>
        
</div>