<nav class="navbar navbar-expand-lg color-white navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="home">
      <img src="../../assets/logo.PNG" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active" routerLink="home">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active" routerLink="about">Om Företaget</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active" routerLink="manufacturing">Tillverkning</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active" routerLink="references">Referecer</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active" routerLink="partners">Partnes</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active" routerLink="jobs">Arbeta hos os</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active" routerLink="contact">Contact</a>
        </li>
      </ul>
    </div>
    
  </div>
</nav>
