<div class="container">
        <div class="row">
                <div class="col-sm-4">
                        <h3>Kontakta oss</h3>
                        <p><strong>Aros Byggsmide AB</strong></p>
                        <p>Transformatorgatan 10</p>
                        <p>721 37 Västerås</p><br>
                        <p><strong>Tel: </strong>021 13 22 11</p>
                        <p><strong>Fax: </strong>021 12 43 35</p><br>
                        <p><strong>E-Post: </strong>info@arosbyggsmide.se</p>
                </div>
                <div class="col-sm-4">
                        Tommy Lindgren, 070 688 47 07
                        <a>tommy@arosbyggsmide.se</a> <br><br>
                        Micke Lindgren, 070 643 33 26
                        <a>micke@arosbyggsmide.se</a> <br><br>
                        Jessica Lindgren <br>
                        <a>jessica@arosbyggsmide.se</a> <br><br>
                        Daniel Holmgren, 072 214 70 77 <br>
                        <a>Daniel Holmgren, 072 214 70 77</a>          
                </div>
                <div class="col-sm-4">
                        <img src="../../assets/svets.jpg" alt="">            
                </div>
              </div>
        
</div>
