<div class="container">
        <div class="row">
                <div class="col-sm-8">
                        <h3>Partners</h3>
                        <p>I och med att alla produkter som tillverkas är kundspecifika arbetar Aros Byggnadssmide nära både underleverantörer och kunder. Företagets ambitioner är att samarbetet alltid ska vara okomplicerat och smidigt. <br><br>

                        Ett positivt bemötande är självklart och resultatet ska kunna mätas i termer av estetiskt, funktionellt och i enlighet med beställningen. <br><br>
                                        
                        Företagets största kunder är Peab, NCC, Skanska, ByggPartner och Aros Bygg och Förvaltning AB.</p>
                </div>
                <div class="col-sm-4">
                        <img src="../../assets/svets.jpg" alt="">             
                </div>
              </div>
        
</div>
