<div class="container">
        <div class="row">
                <div class="col-sm-8">
                        <h3>Tillverkning</h3>
                        <p>Aros Byggsmide tillverkar det mesta inom byggnadssmide till byggbranschen. Bland annat konstrueras och tillverkas stålstommar, räcken, trappor och balkonger. All tillverkning görs utifrån kundens specifika behov och önskemål, för det mesta i form av komplexa former och lösningar. Materialen som används är främst stål men arbeten utförs även i rostfritt och aluminium med en tjocklek på minst 2 mm. <br> <br>

                        Tillsammans med uppdragsgivaren utformar Aros Byggsmide konstruktionen som dokumenteras av en samarbetspartner. Tillverkningen sker sedan i den egna verkstaden i Västerås. Den färdiga produkten monteras på plats hos kunden, oftast av samma personal som ansvarat för tillverkningen.
                                
                        </p>
                </div>
                <div class="col-sm-4">
                        <img src="../../assets/svets.jpg" alt="">              
                </div>
              </div>
        
</div>
