<div class="container">
  <div class="background d-none d-md-block">
    <div class="row">
      <div class="svets-logo col-sm-4">
        <img src="../../assets/svets.jpg" alt="" />
      </div>
      <div class="col-xs-8">
        <h2>En stark stomme inom byggindustrin</h2>
      
          <span style="color: brown;">
            Vi tillverkar det mesta inom byggnadssmide till byggbranschen.
          </span>
        
      </div>
    </div>
  </div>

  <div class="row">
    <div class="main col-sm-8">
            <h3>Vi konstruerar efter dina önskemål!</h3>
            <p>
              Aros Byggnadssmide är företaget med många egna kluriga idéer för att hitta
              fungerande läsningar på konstruktionsproblem till olika byggnationer. <br><br> Vi
              tillverkar och monterar allt från enkla stommar i stål till komplexa former
              i aluminium. Alla våra kunder får sin egen skräddarsmidda lösning. Problem
              är till för att lösas, så ring oss när ni har frågor kring
              stålkonstruktioner.
            </p>
            <strong class="d-none d-md-block">Välkommen!</strong>
    </div>
    
    <div class="references col-sm-4">       
        <ul>
            <h3>Referenser</h3>
            <li>Hälla fackhandel - stålstommar</li> <hr>
            <li>Västerås Centrallasarett - påbyggnad av ytterligare en våning</li> <hr>
            <li>IKEA - ombyggnad av entrén</li><hr>
            <li><a href="#">Fler referenser »</a></li>
        </ul>
    </div>
  </div>

</div>
